@mixin for-size($size) {
  @if $size == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}

@mixin transition($prop...) {
  transition-property: $prop;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
